body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#030939, #403d81);
    font-family: Verdana;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 253);
}

header {
    padding: 1.5rem 0px;
    display: flex;
    justify-content: center;
    color: #ffff;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
}

header img {
    width: 200px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav ul {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    gap: 5px;
}

li {
    margin-left: 5px;
    padding: 4px;
}

li:hover {
    color: #c10505;
    cursor: pointer;
}

.container-banner img {
    padding: 20px;
    margin-top: 50px;
}

.container-banner {
    width: 50%;
    text-align: center;
    color: #ffff;
    margin-left: 5rem;
}

.container-banner h1 {
    font-family: 'Lucida Grande';
    font-size: 5rem;
    margin-top: 10px;
    text-shadow: 3px 0px red, -3px 0px red, 0px 3px red, 0px -3px red, 2px 2px red, -2px -2px red, 2px -2px red, -2px 2px red;
}

.container-banner p {
    padding: 10px;
    margin: 30px 0;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.botoes {
    margin: 20px 0px 0px;
    padding: 20px;
}

#assistir {
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: 2px solid white;
    font-size: 14px;
    font-weight: 200;
    background-color: transparent;
    color: #ffff;
}

#assistir:hover {
    font-size: 15px;
    background-color: #f64646;
}

#informacoes {
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: 2px solid white;
    font-size: 14px;
    font-weight: 200;
    background-color: transparent;
    color: #ffff;
}

#imformacoes:hover {
    font-size: 15px;
    background-color: #5e59b7;
}

.spider-man {
    position: fixed;
    right: -50px;
    bottom: -40px;
}

.spider-man img {
    width: 750px;
}


#form {
    width: 45%;
    left: 80%;
    background-color: #ffff;
    border-radius: 10px;
}

iframe {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 20px solid #c10505;
    z-index: 200;
}

#secao-video {
    margin-bottom: 5rem;
}